Hey <%= @name %>!
<br><br>Twitter has once again blocked Followr's write access to your account. If you havent already, please take a moment to <a href='http://followr.club/auth/twitter'>reauthenticate yourself</a> if you'd like to keep following people. 
<br><br>Sorry for the inconvenience!