<ul class="timeline">
    <li></li>
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-tag"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">What is Followr?</h4>
        </div>
        <div class="timeline-body">
          <p>1. Enter hashtags you want to start following people from</p>
          <p>2. Done. Within 10 minutes Followr will go to work on your account. You will start following  30 people/hour, or 720/day. You should check out Twitter's rate limits below</p>
          <p><i class="glyphicon glyphicon-volume-off"></i> Followr mutes everyone you follow so your feed contains the only stuff you want to see</p>
          <p><i class='glyphicon glyphicon-volume-up'></i>If you would like to keep following a user, simply unmute them. We'll check to see if you still have a user muted before unfollowing them.</p>
          <p><i class='glyphicon glyphicon-check'></i> Followr will never follow the same person twice</p>
          <p><i class="glyphicon glyphicon-thumbs-up"></i> Increase your social audience.</p> 
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-question-sign"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Things you should know.</h4>
        </div>
        <div class="timeline-body">
          <p>Twitter likes to restrict Followr's access to read-only every once-in-a-while. When that happens you'll need to come back and sign in and update your preferences.</p>
          <p>Check out Twitter's follow rate limits <a href='https://support.twitter.com/articles/66885-i-can-t-follow-people-follow-limit'>here</a></p>
          <p>You're bound to get bots following you. You are after all a bot yourself now, no?</p>
          <p>You can come back anytime to stop/start following people</p>
          <p>You can come back anytime to manually unfollow people</p>
          <p>Instagram is on the horizon</p>
          <p>Created by <a href="http://twitter.com/plaintshirts" target="_blank">@plaintshirts</a>, with contributions by <a href="http://twitter.com/lordofthelake" target="_blank">@lordofthelake</a>.</p>
        </div>
      </div>
    </li>
</ul>
