<div class="container">
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-tag"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">What is Followr?</h4>
            </div>
            <div class="timeline-body">
              <p>Followr is a Twitter bot created as a side-project by <a href='http://twitter.com/plaintshirts'>@plaintshirts</a> using Rails Twitter's API.</p>
              <p>This bot was created in hopes of increasing your social audience (ok, mine too.)</p>
              <p>1. Enter a few hashtags you want to start following people from</p>
              <p>2. Enter how many days you want to wait until you unfollow them</p>
              <p>3. Done. Within 10 minutes Followr will go to work on your account. You're account will start following 60 people/hour, or ~1,400 peoeple/day and unfollow them a few days later.</p>
              <p><i class='glyphicon glyphicon-check'></i> Followr mutes everyone you follow so your feed consists of the stuff from the users you want to see, while keeping out potential spam</p>
              <p><i class='glyphicon glyphicon-info-sign'></i> Increase your social audience. You follow > they follow > you unfollow > win.</p> 
              <!-- <span class='lead' style='font-variant: small-caps;'>that twitter ratio bro.</span></p> -->
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-question-sign"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Things you should know.</h4>
            </div>
            <div class="timeline-body">
              <p>You're bound to get bots following you. You are after all a bot yourself now, no?</p>
              <p>You can come back anytime to stop/start following people</p>
              <p>We'll never use your account for anything other than what's stated here</p>
              <p>The only data stored is your name, username, the people you've followed, when you followed them, and when you unfollowed them</p>
              <p>Looking for a front-end dev. Hit me up on twitter if you want in on this action</p>
              <p>Instagram is on the horizon</p>
            </div>
          </div>
        </li>
        <li>
          <div class='nav-login'>
            <p><a class="btn btn-lg btn-primary" href="/auth/twitter">Sign in with Twitter</a></p>
          </div>
        </li>
    </ul>
</div>