/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

header.jumbotron {
  text-align: center;
  background: image-url('header.jpg') no-repeat bottom right;
  background-size: cover;
  margin-bottom: 0;
  
  h1 {
    font-family: 'Pacifico', cursive;
  }
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  color: #333 !important;
  font-size: 22px;
}

#followed-count {
  background: image-url('header.jpg') no-repeat center right;
  background-size: cover;
}